global
  maxconn 128
    
defaults
  mode http
  
  option httpclose
  option forwardfor
  
  timeout connect 1s
  timeout queue 5s
  timeout client 5m
  timeout server 5m

frontend https
  bind *:80
  bind *:443 ssl crt /app/cert.pem

  http-request set-header X-Forwarded-Proto https

  redirect scheme https code 301 if !{ ssl_fc }

  #use_backend

#backend

{{ range $host, $container := . }}
  {{ range $key, $address := $container.Addresses -}}
    {{ if (and $address.HostPort (eq $address.Proto "tcp") (ne $address.HostPort "443")) }}
backend {{ $container.Name }}
  server {{ $container.Name }} host.docker.internal:{{ $address.HostPort }}
    {{ end }}
  {{ end }}
{{ end}}
